.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.card {
  position: fixed;
  text-align: center;
  padding: 1rem;
  top: 25vh;
  left: 30%;
  width: 40%;
  z-index: 100;
  overflow: hidden;
}

.view_2 {
  background-image: url(https://i.imgur.com/rilj7ya.png);
  background-size: cover;
  background-position: 100%;
  height: 50em;
  width: 50em;
}
.cow_img {
  height: 275px;
}
.btn {
  margin: 25px 5px 5px 5px;
  width: 100px;
  height: 35px;
}
.view_btn {
  background-color: white;
  border: #f5aa18 solid 3px;
  border-radius: 7px;
}
.next_btn {
  background-color: #f5aa18;
  border-radius: 7px;
  border: #f5aa18 solid 3px;
}
